@font-face {
    font-family : Undertale;
    src : url(undertale.ttf)
}

body {
    background-color: black;
    color:white;
    font-family:undertale;
    margin:0;
    margin-top:0.5%;
}
.main {
    margin-left: 27.5%;
    margin-right:27%
}
.logo {
    width:40%;
    margin:auto;
}
.buttons {
    margin:auto;
    text-align: center;
}
.button {
    border-color:orange;
    color:orange;
    display: inline-block;
    border-style:solid;
    padding:10px;
    margin:1%;
    width: 9%;
    font-size:1.7em;
}
.button:hover {
    cursor: pointer;
    border-color:yellow;
    color:yellow;
}
.sel {
    color:yellow;
    border-color:yellow;
}
p {
    font-size:1.29em;
}
.image {
    width:49%;
    display:inline-block;
}
.highslide-caption {
    color:black;
}
.up {
    margin-bottom:10%;
    font-size:30px;
    display:inline-block;
}
.up:hover,.logo:hover {
    cursor: pointer;
}
a { text-decoration: none;}
a:link { color: orange; text-decoration: none;}
a:visited { color:orange; text-decoration: none;}
a:hover { color:yellow; text-decoration: none;}
.button:hover a:visited,.button:hover a:link,.button:hover a:hover{
    cursor: pointer;
    border-color:yellow;
    color:yellow;
}
.easter {
    opacity:0.1;
}

sel:hover {
    cursor: default;
}
.goup {
    width:0;
    height:0;
    border:40px solid transparent;
    border-bottom-color: orange;  
    border-top: 0;
    display:inline-block;
    position:fixed;
    bottom:2%;
    left:2%;
    opacity:0.5;
}
@media (max-width:1100px) {
    .image {width:40%;}
    p,.up,li {font-size:1.1em;}
    .button, h1 {font-size:1.2em;}
    .goup {width:0;
    height:0;
    border:30px solid transparent;
    border-bottom-color: orange;  
    border-top: 0;
    display:inline-block;
    position:fixed;
    bottom:2%;
    left:2%;
    opacity:0.5;}
    
}
@media (max-width:880px) {
    .button,h1 {font-size:1em}
    p,li { font-size:1em}
    .goup { width:0;
    height:0;
    border:25px solid transparent;
    border-bottom-color: orange;  
    border-top: 0;
    display:inline-block;
    position:fixed;
    bottom:2%;
    left:2%;
    opacity:0.5;}
    .main {margin-left: 10%;
    margin-right:10%}
}
@media (max-width:600px) {.button,h1 { font-size:0.7em;} }
@media (orientation:portrait) {
    .goup {
        bottom:10%;
        left:2%;
        
    }
}

::-webkit-scrollbar {
    display:none;
}
